@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>

    <table border="1" style="width:500px; height:auto; ">
        <tr>
            <td>@Html.ActionLink("Home", "Index")</td>
            <td>@Html.ActionLink("About", "MerchantWare")</td>
            <td>@Html.ActionLink("MerchantWare", "MerchantWare")</td>
        </tr>
    </table>

    

</body>
</html>
